@using LX.TestPad.Business.Models;

@{
    ViewData["Title"] = "Add questions";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="my-3">
    <a class="btn btn-outline-danger" href="javascript:history.back()">Back</a>
</div>

<div class="mb-5 row">
    <div class="col-4 border">
        <div class="border-bottom text-center">
            <p class="my-2" style="font-weight: bold;">Tests</p>
        </div>

        <div class="text-center">
            <div class="my-2">
                <div class="mb-2 border">
                    <button class="text-center text-wrap btn" style="box-sizing: border-box; width: 100%; font-weight: bold;" onclick="loadUnusedItems()">Unused questions</button>
                </div>

                <div id="TestsTable">

                </div>
            </div>
        </div>

        <div id="loadingTests" class="mb-3"><img class="mx-auto mt-3" width="30" height="30" src='@Url.Content("~/Content/loading_spinner.gif")'></div>

    </div>

    <div class="col-4 border" onload="">
        <div class="border-bottom text-center">
            <p class="my-2" style="font-weight: bold;">Questions (Click to add)</p>
        </div>

        <div class="text-center">
            <div class="my-2" id="QuestionsTable">

            </div>
        </div>

        <div id="loadingQuestions" class="mb-3"><img class="mx-auto mt-3" width="30" height="30" src='@Url.Content("~/Content/loading_spinner.gif")'></div>

    </div>

    <div class="col-4 border">
        <div class="border-bottom text-center">
            <p class="my-2" style="font-weight: bold;">Selected question (Click to remove)</p>
        </div>

        <div class="text-center">
            <div class="my-2" id="SelectedQuestionsTable">

            </div>
        </div>

        <div id="loadingSelectedQuestions" class="mb-3"><img class="mx-auto mt-3" width="30" height="30" src='@Url.Content("~/Content/loading_spinner.gif")'></div>

    </div>
</div>




<script src="~/lib/jquery/dist/jquery.min.js"></script>

<script type="text/javascript">

    var _inCallback = false;

    var selectedTestId = 2; // testing value

    $(document).ready(function () {
            $("div#loadingTests").hide();
            $('div#loadingQuestions').hide();
            $("div#loadingSelectedQuestions").hide();

            _inCallback = false;

            loadAllTests();
            loadSelectedItems();
    })


    function loadAllTests(){
        if (!_inCallback) {
            _inCallback = true;

            document.getElementById('TestsTable').innerHTML = "";

            $('div#loadingTests').show();

            $.ajax({
                type: 'GET',
                url: '../../api/tests/GetAllTests',
                success: function (data, textstatus) {
                    if (data.length > 0) {
                        var htmlLine = "";
                        $.each(data, function (index, item) {
                            htmlLine +=
                                '<div class="mb-2 border">' + 
                                    '<button class="text-center text-wrap btn" style="box-sizing: border-box; width: 100%;" onclick="loadItems('+item.id+')">'+item.name+'</button>' + 
                                '</div>';
                        })

                        $("#TestsTable").append(htmlLine);
                    }

                    _inCallback = false;
                    $("div#loadingTests").hide();
                }
            });
        }
    }


    function loadUnusedItems() {
        if (!_inCallback) {
            _inCallback = true;

            document.getElementById('QuestionsTable').innerHTML = "";

            $('div#loadingQuestions').show();

            $.ajax({
                type: 'GET',
                url: '../../api/questions/GetUnusedQuestions',
                success: function (data, textstatus) {
                    if (data.length > 0) {
                        var htmlLine = "";
                        $.each(data, function (index, item) {
                            htmlLine +=
                                '<div class="mb-2 border">' + 
                                    '<button class="text-center text-wrap btn" style="box-sizing: border-box; width: 100%;" onclick="addQuestionToTest('+item.id+')">' + item.text + '</button>' + 
                                '</div>';
                        })

                        $("#QuestionsTable").append(htmlLine);
                    }

                    _inCallback = false;
                    $("div#loadingQuestions").hide();
                }
            });
        }
    }


    function loadItems(testId) {
        if (testId>0 && !_inCallback) {
            _inCallback = true;
            
            document.getElementById('QuestionsTable').innerHTML = "";

            $('div#loadingQuestions').show();

            $.ajax({
                type: 'GET',
                url: '../../api/questions/GetQuestions/'+testId,
                success: function (data, textstatus) {
                    if (data.length > 0) {
                        var htmlLine = "";
                        $.each(data, function (index, item) {
                            htmlLine +=
                                '<div class="mb-2 border">' + 
                                    '<button class="text-center text-wrap btn" style="box-sizing: border-box; width: 100%;" onclick="addQuestionToTest('+item.id+')">' + item.text + '</button>' + 
                                '</div>';
                        })

                        $("#QuestionsTable").append(htmlLine);
                    }

                    _inCallback = false;
                    $("div#loadingQuestions").hide();
                }
            });
        }
    }


    function loadSelectedItems(){
        if (selectedTestId>0 && !_inCallback) {
            _inCallback = true;

            document.getElementById('SelectedQuestionsTable').innerHTML = "";

            $('div#loadingSelectedQuestions').show();

            $.ajax({
                type: 'GET',
                url: '../../api/questions/GetQuestions/'+selectedTestId,
                success: function (data, textstatus) {
                    if (data.length > 0) {
                        var htmlLine = "";
                        $.each(data, function (index, item) {
                            htmlLine +=
                                '<div class="mb-2 border">' + 
                                    '<button class="text-center text-wrap btn" style="box-sizing: border-box; width: 100%;" onclick="removeQuestionToTest('+item.id+')">' + item.text + '</button>' + 
                                '</div>';
                        })

                        $("#SelectedQuestionsTable").append(htmlLine);
                    }

                    _inCallback = false;
                    $("div#loadingSelectedQuestions").hide();
                }
            });
        }
    }


    function addQuestionToTest(questionId) {
        if (selectedTestId>0 && questionId>0 && !_inCallback) {
            _inCallback = true;

            document.getElementById('SelectedQuestionsTable').innerHTML = "";

            $('div#loadingSelectedQuestions').show();

            $.ajax({
                type: 'POST',
                url: '../../api/questions/AddQuestionToTest/'+selectedTestId+'/'+questionId,
                success: function (data, textstatus) {
                    _inCallback = false;

                    loadSelectedItems();

                    $("div#loadingSelectedQuestions").hide();
                }
            });
        }
    }


    function removeQuestionToTest(questionId) {
        if (selectedTestId>0 && questionId>0 && !_inCallback) {
            _inCallback = true;

            document.getElementById('SelectedQuestionsTable').innerHTML = "";

            $('div#loadingSelectedQuestions').show();

            $.ajax({
                type: 'POST',
                url: '../../api/questions/RemoveQuestionFromTest/'+selectedTestId+'/'+questionId,
                success: function (data, textstatus) {
                    _inCallback = false;

                    loadSelectedItems();

                    $("div#loadingSelectedQuestions").hide();
                }
            });
        }
    }

</script>