@model int

@{
    ViewData["Title"] = "Add existing questions";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="d-flex justify-content-between my-3">
    <div class="border">
        <div id="selectedTestData" class="m-2">
            
        </div>
    </div>

    <div>
        <a class="btn btn-outline-danger my-auto" href="javascript:history.back()">Back</a>
    </div>
</div>


<div class="mb-5 row">
    <div class="col-4 border">
        <div class="border-bottom text-center">
            <p class="my-2" style="font-weight: bold;">Tests</p>
        </div>

        <div class="text-center">
            <div class="my-2">
                <div class="mb-2 border">
                    <button id="test0" class="text-center text-wrap btn" style="box-sizing: border-box; width: 100%; font-weight: bold;" onclick="loadItems(0)">Unused questions</button>
                </div>

                <div id="TestsTable">

                </div>
            </div>
        </div>

        <div id="loadingTests" class="mb-3"><img class="mx-auto mt-3" width="30" height="30" src='@Url.Content("~/Content/loading_spinner.gif")'></div>

    </div>

    <div class="col-4 border" onload="">
        <div class="border-bottom text-center">
            <p class="my-2" style="font-weight: bold;">Questions (Click to add)</p>
        </div>

        <div class="text-center">
            <div class="my-2" id="QuestionsTable">

            </div>
        </div>

        <div id="loadingQuestions" class="mb-3"><img class="mx-auto mt-3" width="30" height="30" src='@Url.Content("~/Content/loading_spinner.gif")'></div>

    </div>

    <div class="col-4 border">
        <div class="border-bottom text-center">
            <p class="my-2" style="font-weight: bold;">Selected questions (Click to remove)</p>
        </div>

        <div class="text-center">
            <div class="my-2" id="SelectedQuestionsTable">

            </div>
        </div>

        <div id="loadingSelectedQuestions" class="mb-3"><img class="mx-auto mt-3" width="30" height="30" src='@Url.Content("~/Content/loading_spinner.gif")'></div>

    </div>
</div>



@section scripts{

<script type="text/javascript">

    var api = '../../api/';
    var _inCallback = false;

    var selectedTestId = @Model;
    
    var selectedItemsList = '';

    var selectedTestElementId = '';
    var selectedTestOptionId = 0;

    var isSelectedTest = false;

    $(document).ready(function () {
            $("div#loadingTests").hide();
            $('div#loadingQuestions').hide();
            $("div#loadingSelectedQuestions").hide();

            _inCallback = false;

            loadAllTests();
    })


    function loadAllTests(){
        if (!_inCallback) {
            _inCallback = true;

            document.getElementById('TestsTable').innerHTML = "";

            $('div#loadingTests').show();

            $.ajax({
                type: 'GET',
                url: api+'tests',
                success: function (data, textstatus) {
                    if (data.length > 0) {
                        var htmlLine = "";
                        var thisTestText = "";

                        $.each(data, function (index, item) {
                            if (item.id != selectedTestId){
                                htmlLine +=
                                '<div class="mb-2 border">' + 
                                    '<button id="test'+item.id+'" class="text-center text-wrap btn" style="box-sizing: border-box; width: 100%;" onclick="loadItems('+item.id+')">'+item.name+'</button>' + 
                                '</div>';
                            }
                            else {
                                isSelectedTest = true;
                                thisTestText +=
                                    '<p style="font-weight: bold; font-size: 22px;" class="border-bottom">'+item.name+'</p>' + 
                                    '<p style="font-size: 18px;">'+item.description+'</p>';
                            }
                        })

                        if (isSelectedTest == false){
                            thisTestText +=
                                '<p style="font-weight: bold; font-size: 22px;" class="border-bottom">No test selected</p>' + 
                                '<p style="font-size: 18px;">Add/Remove actions are unavailable.</p>';
                        }

                        $("#selectedTestData").append(thisTestText);
                        $("#TestsTable").append(htmlLine);
                    }

                    _inCallback = false;
                    $("div#loadingTests").hide();

                    loadSelectedItems();
                }
            });
        }
    }


    function btnSelection(selectedBtnId){
        if (selectedTestElementId != ''){
            var btn = document.getElementById(selectedTestElementId);
            btn.classList.remove("btn-outline-primary");
        }
        
        selectedTestElementId = selectedBtnId;
        btn = document.getElementById(selectedTestElementId);
        btn.classList.add("btn-outline-primary");
    }


    function loadItems(testId) {
        if (testId>=0 && !_inCallback) {
            _inCallback = true;

            selectedTestOptionId = testId;
            btnSelection('test'+testId);
            
            document.getElementById('QuestionsTable').innerHTML = "";

            $('div#loadingQuestions').show();

            var apiUrl = '';
            if (testId > 0) {
                apiUrl = api+'questions/'+testId;
            }
            else if (testId == 0){
                apiUrl = api+'questions/unused';
            }

            $.ajax({
                type: 'GET',
                url: apiUrl,
                success: function (data, textstatus) {
                    if (data.length > 0) {
                        var htmlLine = "";
                        $.each(data, function (index, item) {

                            var selection = '';
                            $.each(selectedItemsList, function (indexSel, selectedItem){
                                if (item.id == selectedItem.id){
                                    selection = 'btn-outline-success';
                                }
                            })

                            htmlLine +=
                                '<div class="mb-2 border">' + 
                                    '<button class="text-center text-wrap btn '+selection+'" style="box-sizing: border-box; width: 100%;" onclick="addQuestionToTest('+item.id+')">' + item.text + '</button>' + 
                                '</div>';
                        })

                        $("#QuestionsTable").append(htmlLine);
                    }

                    _inCallback = false;
                    $("div#loadingQuestions").hide();
                }
            });
        }
    }


    function loadSelectedItems(){
        if (selectedTestId>0 && isSelectedTest && !_inCallback) {
            _inCallback = true;

            document.getElementById('SelectedQuestionsTable').innerHTML = "";

            $('div#loadingSelectedQuestions').show();

            $.ajax({
                type: 'GET',
                url: api+'questions/'+selectedTestId,
                success: function (data, textstatus) {
                    selectedItemsList = data;
                    
                    if (data.length > 0) {
                        var htmlLine = "";
                        $.each(data, function (index, item) {
                            htmlLine +=
                                '<div class="mb-2 border">' + 
                                    '<button class="text-center text-wrap btn btn-outline-danger" style="box-sizing: border-box; width: 100%;" onclick="removeQuestionToTest('+item.id+')">' + item.text + '</button>' + 
                                '</div>';
                        })

                        $("#SelectedQuestionsTable").append(htmlLine);
                    }

                    _inCallback = false;
                    $("div#loadingSelectedQuestions").hide();

                    loadItems(selectedTestOptionId);
                }
            });
        }
    }


    function addQuestionToTest(questionId) {
        if (selectedTestId>0 && isSelectedTest && questionId>0 && !_inCallback) {
            _inCallback = true;

            document.getElementById('SelectedQuestionsTable').innerHTML = "";

            $('div#loadingSelectedQuestions').show();

            $.ajax({
                type: 'PUT',
                url: api+'tests/'+questionId+'/'+selectedTestId,
                success: function (data, textstatus) {
                    _inCallback = false;

                    loadSelectedItems();

                    $("div#loadingSelectedQuestions").hide();
                }
            });
        }
    }


    function removeQuestionToTest(questionId) {
        if (selectedTestId>0 && isSelectedTest && questionId>0 && !_inCallback) {
            _inCallback = true;

            document.getElementById('SelectedQuestionsTable').innerHTML = "";

            $('div#loadingSelectedQuestions').show();

            $.ajax({
                type: 'DELETE',
                url: api+'tests/'+questionId+'/'+selectedTestId,
                success: function (data, textstatus) {
                    _inCallback = false;

                    loadSelectedItems();

                    $("div#loadingSelectedQuestions").hide();
                }
            });
        }
    }

</script>

}