@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div>
    <a asp-action="CreateTest" class="btn btn-outline-info">Create Test</a>
</div>

@{
    var tests = new[]
{
    new {Name="C#", Desc = " good well cool great best good well cool great best good well cool great best description"},
    new {Name=".NET", Desc = "good well cool great best good well cool great best good well cool great best description"},
    new {Name="JAVA", Desc = "good well cool great best good well cool great best good well cool great best description"},
    new {Name="JavaScript", Desc = "good well cool great bestgood well cool great best description"},
    new {Name="English", Desc = "good well cool great best good well cool great best good well cool great best description"}
};

}
<form class="m-lg-5 text-lg-center" action="@Url.Action("SearchTest", "Test")" method="get">
                <input class="m-lg-0" type="search" style="width: 200px" maxlength="50" name="query" placeholder="Search test"/>
                <button class="btn btn-primary" type="submit">Search</button>
</form>
@foreach(var test in tests){

<div class="test">
    <img class="test-img" src="" height="250" width="250"/>
    <p class="test-title">@test.Name</p>
    <p class="product-desc" style="word-wrap: break-word; width: 250px">@test.Desc</p>
    <form asp-action="TestDetails">
        <button type="submit" class="btn btn-success">Show</button>
    </form>

</div>

}
