@model List<LX.TestPad.Business.Models.TestModel>
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div>
    <a asp-action="CreateTest" class="btn btn-outline-info">Create Test</a>
</div>

<div class="m-lg-5 text-lg-center">
    <input id="SearchTextBar" class="m-lg-0" type="search" style="width: 200px" maxlength="50" name="query" placeholder="Search test" />
    <button class="btn btn-primary" onclick="loadAllTestsByRequest()">Search</button>
</div>

<div>
    <div id="loadingTests" class="mb-3"><img class="mx-auto mt-3" width="30" height="30" src='@Url.Content("~/Content/loading_spinner.gif")'></div>

    <div id="TestsList">

    </div>
</div>


@section scripts{

    <script src="~/js/Utils.js"></script>
    
    <script src="~/js/TestListComponent.js"></script>

    <script type="text/javascript">

        $(document).ready( testListInit("loadingTests", "TestsList", "SearchTextBar", true) )

        $(window).keypress(function (event) {
            if (event.keyCode === 13) {
                loadAllTestsByRequest();
            }
        });

    </script>

}