@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@{
    var tests = new[]
{
    new {Name="C#"},
    new {Name=".NET"},
    new {Name="JAVA"},
    new {Name="JavaScript"},
    new {Name="English"}
};

}

@foreach(var test in tests){

<div class="test">
    <img class="test-img" src="" height="250" width="250"/>
    <p class="test-title">@test.Name</p>
    <form action="/ShowTest">
        <button type="submit" class="btn btn-success">Show</button>
    </form>

</div>

}
