@using LX.TestPad.Business.Models;

@{
    ViewData["Title"] = "Add questions";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

    List<TestModel> testList = ViewBag.Tests;
    List<QuestionModel> questionListList = ViewBag.Questions;

    bool isAnyTest = testList.Count() > 0;
}

<div class="my-3">
    <a class="btn btn-outline-danger" href="javascript:history.back()">Back</a>
</div>

<div class="mb-5 row">
    <div class="col-4 border" id="TestsTable">
        <div class="border-bottom text-center">
            <p class="my-2" style="font-weight: bold;">Tests</p>
        </div>

        <div class="text-center">
            @if (isAnyTest)
            {
                <div class="my-2">
                    @foreach (var test in testList)
                    {
                            <div class="mb-2 border">
                                        <button class="text-center text-wrap btn" style="box-sizing: border-box; width: 100%;" onclick="">@test.Name</button>
                            </div>
                    }
                </div>
            }
        </div>
    </div>

    <div class="col-5 border" id="QuestionsTable" onload="">
        <div class="border-bottom text-center">
            <p class="my-2" style="font-weight: bold;">Questions</p>
        </div>

        <div class="text-center">
            @if (!isAnyTest)
            {
                    <div class="my-2">
                    @foreach (var question in questionListList)
                    {
                            <div class="mb-2 border">
                                        <button class="text-center text-wrap btn" style="box-sizing: border-box; width: 100%;" onclick="">@question.Text</button>
                            </div>
                    }
                </div>
            }
        </div>
    </div>

    <div class="col-3 border" id="Menu">
        <div class="border-bottom text-center">
            <p class="my-2" style="font-weight: bold;">Menu</p>
        </div>

        <div class="text-center">
            <div class="mx-auto my-3" id="AddBtn" hidden>
                <button type="button" class="btn btn-outline-success">Add to test</button><br />
            </div>
            <div class="mx-auto my-3" id="RemoveBtn" hidden>
                <button type="button" class="btn btn-outline-danger">Remove form test</button>
            </div>
        </div>
        
    </div>
</div>




<script>

</script>