@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@{
    var answers = new[]
    {
    new {Name="Yes"},
    new {Name="No"},
    };

    var questions = new[]
    {
    new {Text="What language do people speak in Australia?", Answer = "Yes"},
    new {Text="What?", Answer = "No"},
    new {Text="What language do people speak?", Answer = "Yes"},
    new {Text="What is Australia?", Answer = "No"},
    new {Text="What people in Australia?", Answer = "Yes"},
    new {Text="What is australia s form of government?", Answer = "No"},
    };


}

<div class="my-3">
    <a class="btn btn-outline-danger mx-1" style="width: 130px;" href="@Url.Action("TestResults", "Admin")">Back to results</a>
</div>

<div class="text-center">
    <h1 class="display-4">Test Result</h1>
    <h4 class="display-4">60%</h4>
</div>

@foreach(var question in questions){
    <div style="height:auto">
        <label>@question.Text</label>
        
        @if (question.Answer == "Yes")
        {
            <p>Answer: @question.Answer ✅</p>
        }
        else
        {
           <p>Answer: @question.Answer</p>
        }

    </div>
}

