@model LX.TestPad.Business.Models.QuestionWithAnswersModel

<div class="text-center">
    <h1 class="display-4">@Model.Text</h1>
</div>


@foreach(var answer in Model.Answers){
<div style="height:auto">
  <input type="checkbox">
  <label>@answer.Text</label>
</div>
}
<form action="/Result">
        <button type="submit" class="btn btn-success">Next</button>
</form>