@{
    ViewData["Title"] = "Home Page";
}
@{
    var tests = new[]
{
    new {Name="C#", Desc = " good well cool great best good well cool great best good well cool great best description"},
    new {Name=".NET", Desc = "good well cool great best good well cool great best good well cool great best description"},
    new {Name="JAVA", Desc = "good well cool great best good well cool great best good well cool great best description"},
    new {Name="JavaScript", Desc = "good well cool great bestgood well cool great best description"},
    new {Name="English", Desc = "good well cool great best good well cool great best good well cool great best description"}
};

}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>

@foreach(var test in tests){

<div class="test">
    <img class="test-img" src="" height="250" width="250"/>
    <p class="test-title">@test.Name</p>    
    <p class="product-desc" style="word-wrap: break-word; width: 300px">@test.Desc</p>
    <form action="/StartTest">
        <button type="submit" class="btn btn-success">Start</button>
    </form>

</div>

}
